* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Nunito", sans-serif;
}


body {
  overflow-x: hidden;
}


section {
 padding: 100px 200px;
}

.btn {
  color: #fff;
  background: #fff;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 10  px;
  margin-top: 30px;
  transition: 0.5s ease ;
}

/* Header  */
header {
 color: white;
 background: black;
 width: 100%;
 padding: 15px 200px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 transition: 0.5s ease;
}

header .navbar ul {
 display: flex;
}

header .navbar ul li {
 list-style-type: none;
 padding: 10px;
}


header .navbar ul li a{
 text-decoration: none;
 color: white;
}
/* Header Ended */

/* Main */
.main {
 position: relative;
 width: 100%;
 min-height: 100vh;
 display:   flex;
 align-items: center;
 background: linear-gradient(rgba(0, 0,0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/Resturant.Logo.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 /* overflow: hidden; */
 background-position: center;
 background-attachment: fixed;
}

.main .content {
 max-width: 800px;
}

.main .content h2 {
 color: white;
 font-size: 2em;
 font-weight: 500;
}

.main .content h2 span {
 font-size: 2.5em;
 font-weight: 600;
}

.main .content .animated-text {
 position: relative;
 height: 70px;
overflow: hidden;
}

.main .content .animated-text h3{
 color: #4e9eff;
 font-size: 3em;
 line-height: 70px;
 font-weight: 700;
 letter-spacing: 1px;
}

.main .content .animated-text h3:nth-child(1){
 animation: move 10s infinite;
}

@keyframes move {
 0% {
  margin-top: 0;
 }
 25% {
  margin-top: -70px;
 }
  50% {
   margin-top: -140px;
  }
  75% {
   margin-top: 70px;
   }
   100% {
     margin-top: 0;
   }
}

.main .content .btn {
 color: white;
 background: #3a6cf4;
 font-size: 1.2em;
 font-weight: 500;
 display:inline-block;
 padding: 10px 20px;
 text-transform: uppercase;
 text-decoration: none;
 letter-spacing: 1px;
 border-radius: 10px;
 margin-top: 30px;
 transition: 3s ease;
}

.main .content .btn:hover {
 color: #fff;
 background-color: orange;
 transition: 2s ease;
}

.main .content .media-icons {
 margin-top: 50px;
}

.main .content .media-icons a {
 color: #fff;
 font-size: 28px;
 margin-right: 30px;
}

.fa-brands{
  color: #3a6cf4;
}
.fab{
  color: #3a6cf4;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-title {
  position: relative;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title::before {
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 190px;
  height: 4px;
  background: #3a6cf4;
  transform: translateX(-50%);

}

.section-title::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50px;
  width: 15px;
  border-radius: 50%;
  background: #3a6cf4;
  transform: translateX(-50)
}

/* About */
.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align:left;
  padding-left: 50px;
}

.about .content .col-left {
  position: relative;
  width: 50%;
} 


.about .content .col-right {
  position: relative;
  width: 45%;
}

.about .content .col-left .img-card {
    position: relative;
    width: 100%;
    /* min-height: 450px; */
}

.about  .content .col-left .img-card img {
  position: absolute bi ;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 70px; */
  object-fit: cover;
  border-radius: 10px;
}

.about  .content .col-right .para-text {
  text-align: justify;
  font-size: 1em;
}

/* skills */
.skills {
  background: #000016;
}

.skills .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}

.skills .content .btn {
  color: white;
  background: #3a6cf4;
  font-size: 1.2em;
  font-weight: 200;
  display:inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 8px;
  margin-top: 20px;
  transition: 3s ease;
 }

.skills .content .col-left {
  position: relative;
  width: 46%;
}

.skills .content .col-left .content-title {
  margin-bottom: 20px;
}

.skills .content .col-left p {
  text-align: justify;
  font-size: 1em;
}

.skills .content .col-right {
  position: relative;
  width: 46%;
}

.skills .content .col-right .bar{
  margin-bottom: 10px;
  padding: 10px;
}

.skills .content .col-right .bar .info span { 
  font-size: 18px;
  font-weight: 500;
}

.skills .content .col-right .bar .line {
  position: relative;
  width: 100%;
  height: 5px;
  background: #999;
  border-radius: 2px;
}

.skills .content .col-right .bar .line::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
}

.skills .content .col-right .bar .html::before {
  width: 95%;
  background: #e45126;
}

.skills .content .col-right .bar .css::before {
  width: 85%;
  background: #0c73b8;
}

.skills .content .col-right .bar .javascript::before {
  width: 80%;
  background: #e3a324;
}

.skills .content .col-right .bar .python::before {
  width: 90%;
  background: #3a6cf4;
}


/* services */
.services .content {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.services .title p {
  font-size: 1em;
  width: 80%;
  position: absolute;
  padding-top: 120px;
  justify-content: center;

}

.services .content .card {
  background: #fff;
  width: 340px;
  margin: 50px;
  padding: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0.5 0.5px  rgba( 1 1 1 /15%);
}

.services .content .card .service-icon {
  color: #3a6cf4;
  font-size: 2em;
  text-align: center;
  transition: transform 0.5 ease;
}

.services .content .card:hover .service-icon {
  transform: translateY(-10px);
}

.services .content .card .info {
  text-align: center;
}

.services .content .card .info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10ox;
}

/* project */
.project {
  background: #0000;
}

.project .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 15px;
}
.project .content .card {
  width: 340px;
  margin: 15px;
}

.project .content .card .card-img {
  position: relative;
  width: 100px;
  height: 260px;
  /* overflow: hidden;*/
}
.project .content .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}

.project .content .card .card-img img:hover {
  transition: 0.9s ease-in-out;
  transform: scale(1.2);
}

/* contact */
.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px; 
}

.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card {
  background: #fff;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 5px rgba( 1 1 1 /15%);
  border-radius: 10px;
}

.contact .content .row .card .contact-icon {
  color: #3a6cf4;
  font-size: 2em;
  text-align: center;
  transition: transform 0.5s ease;
} 

.contact .content .row .card:hover .contact-icon {
  transform: translateY(-10px);
}

.contact .content .row .card .info {
  text-align: center;
}

.contact .content .row .card .info h3 {
  /* color: #fff; */
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.contact .content .row .card .info span {
  color: #666;
  font-weight: 500;
}

.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba( 1 1 1 /15%);
}

.contact-form h3 {
color: #111;
font-size: 1.6em;
font-weight: 600;
text-align: center;
margin-bottom:  40px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  color: rgb(50, 16, 16);
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}

.contact-form .input-box .send-btn {
 color: #fff;
 background: #0f2a73;
 display: inline-block; 
 font-size: 1.1em;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 2px;
 width: 100%;
 border: none;
 cursor: pointer;
 transition: 0.5s ease;
}

.footer {
  background-color: #4e9eff;
  color: #111;
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.footer  span {
  color: #3a6cf4;
  background: #111;
  margin-right: 50px;
  padding: 20;
}





















