/* #sticky_nav {
          top: -45px;
          position: fixed;
          z-index: 999;
          transition: all .5s ease
        } */
        .btnList { width: 120px }
        .content_list {
          background: rgb(60, 9, 9);
          width: 250px;
          top: 45px
        }
        /* .content_list.left, .content_list.left:before { left: 0 }
        .content_list.center { left: -65px }
        .content_list.center:before {
          left: 50%;
          transform: translate(-50%, 0) */
        /* }
        .content_list.right, .content_list.right:before { right: 0 }
        .content_list:before {
          width: 8px;
          top: -8px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #fff
        } */
        /* .container_right { float: right }
        .content_search {
          top: 0;
          right: 40px
        }
        input[type=text] {
          background: #fff;
          font-size: 22px;
          border-radius: 5px
        }
        input[type=text]:focus { outline: none }
        [class*="show"] {
        display:block
        }
        .show_list {
          padding: 20px 0;
          animation: height 1s ease
        }
        @keyframes 
        height { from {
        padding:0;
        opacity:0
        }
        to {
          padding: 20px 0;
          opacity: 1
        }
        }
        .show_search form {
          width: 150px;
          padding: 6px;
          animation: width 1s ease
        }
        @keyframes 
        width { from {
        width:0;
        opacity:0
        }
        to {
          width: 150px;
          opacity: 1
        }
        }
        .visible { display: inline-block }
        .hidden { display: none }
        @media (max-width:683px) {
        #btnMenu { display: block }
        .container_menu { display: none }
        .container_list { width: 100% }
        .btnList {
          width: 100%;
          box-shadow: 0 2px 2px -2px #333
        }
        .drop { display: none }
        .acc { display: inline-block }
        .content_list {
          width: 100%;
          top: 0;
          position: relative;
          float: left
        }
        .content_list.left, .content_list.center, .content_list.right {
          left: 0;
          right: 0
        }
        .content_list.left:before, .content_list.center:before, .content_list.right:before {
          left: 50%;
          transform: translate(-50%, 0)
        }
        .show_menu {
          background: #1a1a1a;
          width: 100%;
          top: 45px;
          display: block;
          position: absolute
        }
        } */